<h1>New Task</h1>

<!-- <form action="/tasks">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <p>Title</p>
  <input type="text" name="Title">
  <p>Details</p>
  <input type="text" name="Details"><br>
  <button>Create Task</button>
</form>
 -->



<%= render 'form', task: @task %>
<%= link_to "Back to list", tasks_path %>


